{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<head>
  <meta charset="utf-8">
    <head>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    
    <title>Mor Sharoni | Software Engineer</title>
	</head>

  <title>{% block title %}My website{% endblock %}</title>
</head>
<style>
    .body{
        background-color: rgb(233, 233, 233);
        margin: 0;
    }
</style>
<body class="body">
    {%include 'header.html' %}
        {% block content %}
        {% endblock %}
    </main>
    {%include 'footer.html' %}
</body>

