<style>

ion-icon {
  font-size: 64px;
}
.footer
{
    background-color: black; 
    height: 20%;
    position: relative;
    width:100%;
    bottom: 0;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}
a{
  text-decoration:none;
}
</style>
<div class="footer" >
    <div style="margin-left: 12%;">
            <a href = "https://github.com/msharoni"style=" margin-right: 34%; color: white;">
                <ion-icon name="logo-github"></ion-icon>
                
            </a>
            <a href ="https://www.linkedin.com/in/mor-sharoni/" style="color: white;margin-right: 33%;">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a>
            <a href="https://www.youtube.com/channel/UCARcuCAvjNakjqxf2LFyDAA" style="color: white;">
                <ion-icon name="logo-youtube"></ion-icon>
            </a>

        </div>
        <div style="margin-left: 43%;">
            <a style="color: white; font-size: larger; margin-left: 40%;"><br>© 2022 Mor Sharoni</a>
        </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</div>